
.title{
  color:white;
}
.App {
  min-width: 15rem;
  text-align: center;
  position:relative;
  margin-left:10%;
  margin-right:10%;
  background-color:white;
  min-height: 70em;
  border-radius: 10px 10px;
  border: solid 3px rgb(239, 244, 82);
}
.container{
  background-color:#282c34;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
@media screen and (max-width:600px) {
  .App {
    margin-left:0;
    margin-right:0;
  }
}
@media (prefers-reduced-motion: no-preference) {

  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(12px + 2vmin);
  color: rgb(239, 244, 82);
 
}
.App-header:hover{
  color:brown;
}

.App-link {
  color: #61dafb;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
