.released{
    margin-right: 5rem;
    margin-bottom: 2rem;
}
/* .starsRateInputs{
    margin-left: 7rem;
} */
.redFlag{
    display: inline-block;
    position:absolute;
    padding:6px;
    color:white;
    background-color: red;
    border-radius: 3px;
    opacity: 0;
    animation-name: fadeIn;
    animation-duration: 4s;
    z-index: 2;
    
}
.greenFlag{
    display: inline-block;
    position:absolute;
    padding:6px;
    color:white;
    background-color: green;
    border-radius: 3px;
    opacity: 0;
    animation-name: fadeIn;
    animation-duration: 4s; 
    z-index: 2;  
}
@keyframes fadeIn {
    0% { opacity: 0; }
      30% { opacity: 1; }
      60%{opacity:1}
      100%{opacity: 0;}
}
.alert{
    color:rgb(210, 22, 22);
}
.input{
    width: 100%;
}
.submit{
    position: absolute;
    display:inline-block;
    right:0;
    color: rgb(198, 240, 232);
    background-color: rgb(1, 93, 213);
    border-radius: 4px;
    padding: 6px 1em;
    padding-bottom: 6px;
    border: solid 2px rgb(198, 240, 232);
    margin-left: 5px;
    font-weight: 700; 
}
.submit:hover{
   
    cursor:pointer;
   background-color: rgb(8, 39, 79);
}
.textarea{
    background-color: #1e1e1e;
    color: #ffff66;
    padding-top: 1.2em;
    margin-right: 20px;
    width: 100%;
}
.tagDescription{
    right: 1.2em;
    /* stay away from scrollbar*/
    position: absolute;
    color: gray;
}
.description{
     position: relative;
  /* be reference for positionning clidren*/
}
.inputPlatforms{
   
   display: inline-block;
   margin-bottom: 2rem;
  
}
.inputGenres{
    margin-left: 1em;
    display: inline-block;
    margin-right: 6rem;
    margin-bottom: 2rem;
}
.inputPlatformsGenres{
    display: flex;
    /* align-items: top; */
    float:left;
    position:relative;
    flex-wrap: wrap;
    margin-top: 2rem;
    
}
.container{
    margin-top: 3rem;
    clear:both;
    text-align: left;
    margin-bottom: 3rem;
    color: black;
    margin-left: 20px;
    margin-right: 20px;
    position: relative;
    font-size:large;
}