.paragraph2{
    margin-top: 10px;
    text-align: justify;
}
.paragraph{
    margin-top: 10px;
    text-align: justify;
}
.title{
    margin-top: 5rem;
   text-align: left;
}
.container{
    color: black;
    margin-left: 20px;
    margin-right: 20px;
}