.button{
    background-color: rgb(239, 244, 82);
    padding:3px;
    color:white;
}
.logo{
    
    margin-top: 10rem;
    
}
lista{
    color: white;
}
.container{
    background-color: brown;
    position:absolute;
    z-index: 2;
    width: screen;
    height:50rem;
    left:-10rem;
    right:-10rem;
    top:-5rem;
    /* display:none; */
}
