

.platforms{
    font-size:x-large;
    margin-left: 10px;
    font-weight: bold;
}
.genres{
    font-size:x-large;
    margin-left: 10px;
    font-weight: bold;
}
.games{
    font-size:x-large;
    margin-left: 10px;
    font-weight: bold;
}
.home{
    font-size:x-large;
    margin-left: 10px;
    font-weight: bold;
    
}
.navbar{
    margin-left:10px;
    margin-right:10px;
    margin-top: 10px;
    text-align: justify;
    display: flex;
    clear:both;
    flex-wrap: wrap;
    height: min-content;
    font-size: calc(10px + 2vmin);
    flex-direction: row;
    justify-content: space-around;
}

.searchBar{
    float:right;
  
}
@media screen and (max-width: 1000px) {
    .searchBar{
      
        float:left;
        
    }
}