.input{
    width: 20rem;
}
.button{
    color: rgb(200, 240, 140);
    background-color: white;
    border-radius: 4px;
    padding: 4px 1em;
    padding-bottom: 6px;
    border: solid 2px rgb(200, 240, 140);
    margin-left: 5px;

}
.button:hover{
    cursor:pointer;
}
.padding{
    padding:5px;
    display: inline-block;
}

.search{
    display: inline-block;
    background-color: rgb(102, 94, 84); 
    border-radius: 4px;
    margin-bottom: 1rem;
    
}
