.platforms{
    display: inline-block
}
.genres{
    padding-left: 5rem;
    vertical-align:top ;
    top:0;
    display: inline-block;   
}
.rating{
    font-size: medium;
}
.description{
    text-align: left;
}
.image{
   
    width:100% ;
    height: auto;
    margin-top: 1rem;
    object-fit: cover;
    
}

.card{
    float: right;
    max-width:15rem ;
    height: max-content;
    margin-left: 3rem;
    margin-bottom: 3rem;
}
@media (max-width:700px){
    .card{
        margin-left:0rem;
    }
}

.game{
    margin-top: 5rem;
    width: inherit;
    margin-bottom: 3rem;
    margin-left: 20px;
    margin-right: 20px;
   
}
.title{
    text-align: left;
    font-weight: 600;
}