.genres{
    position: absolute;
    left: -1rem;
    top: 13px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    text-align: left;

}
.sortBy{
    text-align: center;
    margin-top: 1rem;
}
.sortBy button{
    padding: 2px 5px;
    color: #dddddd;
    background-color: #009579 ;
}
.ranking{
    margin-top: 3px;
}
.score{
    display: block;
}
.stars{
    position:relative;
    width: 90px;
    /* 100% */
    display: inline-block;
}
.starsContainer{
    position: absolute;
    right: 10px;
}
.stars div{
    background-color: gold;
    width: 50%;
    position:absolute;
    top: -18px;;
    left:10px;
    height: 25px;
    
}
.stars img{
    
    width: 50%;
    position:absolute;
    top: -18px;;
    left:10px;
    width: 100%;
    height: 25px;
    z-index: 110;
}

.loading{
    display:flex;
    justify-content: center;
}
.loading::after{
    content: "";
    width: 50px;
    height: 50px;
    border: 10px solid #dddddd;
    border-top-color:#009579 ;
    border-radius: 50%;
    animation:loading 1s linear infinite;
}
@keyframes loading{
    to{transform:  rotate(1turn);
    }
}
.button{
    color: goldenrod;
    background-color: rgb(0, 84, 25);
    border-radius: 4px;
    padding: 6px 1em;
    padding-bottom: 6px;
    border: solid 2px brown;
    margin-left: 5px;
    font-weight: 700;
}
.button:hover{
    background-color: rgb(3, 39, 14);
    cursor: pointer;
}
.buttonDelete{
    color: rgb(212, 233, 236);
    background-color: rgb(203, 21, 21);
    border-radius: 4px;
    padding: 6px 1em;
    padding-bottom: 6px;
    border:solid 2px rgb(104, 13, 13);
    margin-left: 5px;
    font-weight: 700;
}
.buttonDelete:hover{
    background-color: rgb(106, 8, 8);
    cursor: pointer;
}
.image{
    width: 100%;
    height: 12.5rem;
    object-fit: cover;
    overflow: hidden;
    position:absolute;
    bottom: 0;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}
.subtitle{
    height: 4rem;
    text-align: center;
    margin-top: 5px;
}
.title{
    font-size: larger;
    font-weight: 600;
    text-align: center;
    margin-top: 1rem;
}

.games{
    margin-top: 5rem;
    text-align: left;
    margin-left: 1rem;
}
.card{
    height: 19rem;
    min-width: 13rem;
    /* min-height: max-content; */
    border:solid 3px bisque;
    width:100px;
    margin-top: 10px;
    vertical-align: baseline;
    border-radius: 10px;
    position:relative;
    background-color:white;
}
.card:hover{
    box-shadow: 0 0 30px 5px rgba(0, 0, 0, 0.2)
    
}
.cardContainer{
    min-width: 13rem;
}
.image:hover{
    
    cursor:pointer;
}
.container{
    display:flex;
    margin-top: 2rem;
    flex-wrap:wrap;
    flex-direction: row;
    min-width: inherit;
    justify-content: space-around;
    margin-bottom: 5rem;
    /* font-size: calc(10px + 2vmin); */
    
}
